@{
    Layout = null;
}

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Log in!</a>
</div>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>