

<div class="text-center mt-3">
    <h1 class="display-4">Demo PWA application</h1>
</div>

<a onclick="$('#dvSplash').show()" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="width: 100%; font-size: 50px;">Log in!</a>
